@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Eshop.Areas.Admin.Models.Account
<div class="account">
    <div class="container">
        <h1>Account</h1>
        <div class="account_grid">
            <div class="col-md-6 login-right">
                <form>
                    <span>Tên tài khoản</span>
                    <input type="text" asp-for="Username" name="Username" id="Username">

                    <span>Mật khẩu</span>
                    <input type="password" asp-for="Password" name="Password" id="Password">
                    <div class="word-in">
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-left">
                <h4>NEW CUSTOMERS</h4>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                <a class="acount-btn" href="register.html">Create an Account</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>