
@{
    ViewData["Title"] = "Login";
}
@model Eshop.Models.Account
@*<h1>Login2</h1>
    <form asp-action="Login" asp-controller="Accounts" method="post">
        <div class="from-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="from-control" />
        </div>
        <div class="from-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="from-control" />
        </div>
        <div class="from-group">
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </div>
        <p>@ViewBag.ErrorMessage</p>
    </form>*@

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form asp-action="Login" asp-controller="Accounts" method="post">
                        <input type="text" placeholder="Name" asp-for="Username" />
                        <input type="password" placeholder="Password" asp-for="Password" />
                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                        <p style="color:red">@ViewBag.ErrorMessage</p>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form action="#">
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email Address" />
                        <input type="password" placeholder="Password" />
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->